@tailwind base;

:root {
  --color-bg-foreground: #fafafa;
  --color-bg-background: #d6d6d6;
  --color-bg-primary: #ff5851;
  --color-bg-secondary: #f2f2f2;
  --color-bg-default: #fff;
  --color-bg-inverse: #f8f8f8;

  --color-text-primary: #ae47ac;
  --color-text-secondary: #4f82ee;
  --color-text-default: #444;
  --color-text-default-soft: #999;
  --color-text-inverse: #5ca45c;
  --color-text-inverse-soft: #767676;

  --font-display: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-body: "Helvetica Neue", Helvetica, Arial, sans-serif;

  --font-weight-normal: 400;
  --font-weight-display: 400;
  --font-weight-btn: 600;

  --rounded-btn: 0.25rem;

  --color-border-secondary: #4f82ee;
}

/** purgecss start ignore */
.dark {
  --color-bg-foreground: #444b58;
  --color-bg-background: #30363e;
  --color-bg-primary: #5cdb95;
  --color-bg-secondary: #3d434f;
  --color-bg-default: #27241d;
  --color-bg-inverse: #373737;

  --color-text-comment: #636d83;
  --color-text-primary: #5cdb95;
  --color-text-secondary: #bc85f9;
  --color-text-default: #373737;
  --color-text-default-soft: #ffe380;
  --color-text-inverse: #99ffff;
  --color-text-inverse-soft: #bbb;

  --font-display: Georgia, Times, "Times New Roman", serif;
  --font-body: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana,
    "Verdana Ref", sans-serif;

  --font-weight-normal: 400;
  --font-weight-display: 400;
  --font-weight-btn: 600;

  --rounded-btn: 0;

  --color-border-primary: #5cdb95;
}

.dropdown {
  position: static;
}

.dropdown:hover .dropdown-menu {
  display: block;
  right: 67px;
  left: auto;
}

.sideBar {
  height: 88vh;
}

/** purgecss end ignore */

@tailwind components;
@tailwind utilities;
